<div class="container">
  <div class="row">
    <div class="two columns">
      <nav id="leftnav">
        <a routerLink="/portfolio"><i class="fas fa-angle-double-right"></i> {{portfolio.title}}</a>
      </nav>
    </div>
    <div class="eight columns">
      <p><a (click)="showPrev()" class="u-pull-left"><i class="fas fa-angle-left"></i> Previous</a><a (click)="showNext()" class="u-pull-right">Next <i class="fas fa-angle-right"></i></a></p>
    <article *ngIf="artwork" class="artworkDetail">
      <a (click)="showModal()"><img class="u-full-width" src="{{artwork.img}}" /></a>
      <h1>{{artwork.name}}</h1>
      <p>{{artwork.media}}, {{artwork.year}}</p>
      <p class="description" [innerHTML]="artwork.description"></p>
      <!--
      <button (click)="goBack()">go back</button>
    -->
    </article>
    </div>
    <div class="two columns">&nbsp;</div>
  </div>
</div>

<div class="modal">
  <div class="modal-inner">
    <div class="modal-content">
      <div class="modal-close-icon">
        <a href="javascript:void(0)" class="close-modal" (click)="closeModal()"><i class="fa fa-times" aria-hidden="true"></i></a>
      </div>
      <div class="modal-content-inner">
        <h4>{{artwork.name}}</h4>
        <p><img class="u-full-width" src="{{artwork.imgZoom}}" /></p>
      </div>
      <hr class="modal-buttons-seperator">
      <div class="modal-buttons">
        <button class="button close-modal" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
