<div class="container" *ngIf="artwork$ | async as artworkAsync">
  <div class="row">
    <div class="two columns">
      <nav id="leftnav">
        <a routerLink="/portfolio"><i class="fas fa-angle-double-right"></i> {{portfolio.title}}</a>
      </nav>
    </div>
    <div class="eight columns">
      <p><a (click)="showPrev(artworkAsync.id)" class="u-pull-left"><i class="fas fa-angle-left"></i> Previous</a><a (click)="showNext(artworkAsync.id)" class="u-pull-right">Next <i class="fas fa-angle-right"></i></a></p>
    <article class="artworkDetail">
      <a (click)="showModal()"><img class="u-full-width" src="{{artworkAsync.img}}" /></a>
      <h1>{{artworkAsync.name}}</h1>
      <p>{{artworkAsync.media}}, {{artworkAsync.year}}</p>
      <p class="description" [innerHTML]="artworkAsync.description"></p>
    </article>
    </div>
    <div class="two columns">&nbsp;</div>
  </div>
</div>

<div class="modal">
  <div class="modal-inner">
    <div class="modal-content">
      <div class="modal-close-icon">
        <a href="javascript:void(0)" class="close-modal" (click)="closeModal()"><i class="fa fa-times" aria-hidden="true"></i></a>
      </div>
      <div class="modal-content-inner" *ngIf="artwork$ | async as artworkAsync">
        <h4>{{artworkAsync.name}}</h4>
        <p><img class="u-full-width" src="{{artworkAsync.imgZoom}}" /></p>
      </div>
      <hr class="modal-buttons-seperator">
      <div class="modal-buttons">
        <button class="button close-modal" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
