.artworkDetail h1 {
  font-size: 2.5rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.artworkDetail img {
  border: 1px solid #999;
}

.artworkDetail {
  text-align: right;
}

.artworkDetail .description {
  text-align: left;
  margin-top: 5.0rem;
}

.portfolioList li {
  list-style: none;
}

.modal img {
  border: 1px solid #999;
  box-sizing: content-box;
}


/* modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.65);
	visibility: hidden;
	backface-visibility: hidden;
  opacity: 0;
  transition: opacity .15s ease-in-out;
}

.modal.modal-open {
  visibility: visible;
  backface-visibility: visible;
  opacity: 1;
  z-index: 1;
}

.modal .modal-inner {
  position: relative;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal .modal-content {
  background-color: white;
  max-width: 75em;
  padding: 1em 1.5em;
  position: relative;
  margin: 2em;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
}

.modal .modal-close-icon {
  position: absolute;
  right: 1.5em;
}

.modal h1, .modal h2, .modal h3, .modal h4, .modal h5, .modal h6 {
  margin-bottom: 0.25em;
}

.modal p {
    margin-bottom: 1em;
}

.modal .modal-buttons-seperator {
  margin: 1.5em 0;
  margin-top: 0;
}

.modal .modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.modal button {
  margin-left: 1em;
}
.modal button:first-child {
  margin-left: 0;
}
