<div class="container" *ngIf="page$ | async as pageAsync">
  <div class="row">
    <div class="two columns">
      <!-- dynamic page links -->
      <nav id="leftnav">
        <div *ngFor="let link of pageList; let i = index">
        <a routerLink="/pages/{{link.slug}}" [class.active]="link.slug == pageAsync.slug"><i class="fas fa-angle-double-right"></i> {{link.title}}</a><br>
        </div>
      </nav>
    </div>
    <article class="eight columns">
      <h1>{{pageAsync.title}}</h1>
      <div class="pageBody" [innerHTML]="pageAsync.body"></div>
    </article>
    <div class="two columns">&nbsp;</div>
  </div>
</div>
