<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<main>
  <header class="container">
    <div class="row">
      <div class="eight columns offset-by-two">
        <h2 class="u-pull-left"><a routerLink="/">{{ title }}</a></h2>
        <nav id="topnav">
          <a routerLink="/portfolio">Portfolio</a>
          <!-- TODO: dynamic page links -->
          <a routerLink="/pages/bio">Bio</a>
          <a routerLink="/pages/resume">Resume</a>
        </nav>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>
</main>

<app-messages></app-messages>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
